header{
    text-align: center;
    background-color: beige;
    width: 100%;
    color: black;
}
footer{
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: grey;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
}